*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}


.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo h1{
    color: #20be48;
}

.logo h1 b{
    color: #46a2fd;
}

.menu {
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #46a2fd;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #46a2fd;
}

.menu .text-menu-selected{
    color: #46a2fd;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 100%;
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}

/*presentacion*/
.presentation{
    width: 85%;
    text-align: center;
    border-bottom: 1px solid;
    padding: 45px 0;
    margin: 0 auto;
}

.presentation-picture{
    width: 160px;
    height: 160px;
}

.presentation-copy{
    text-align: center;
    line-height: 1.6;
    color: black;
}

/*Portada*/
.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../imagenes/portada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h2{
    color: #fff;
    font-size: 50px;
    font-weight: 300;
}

.container-info-cover h1{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 90px;
}

/*presentacion*/
.presentation{
    width: 85%;
    text-align: center;
    border-bottom: 1px solid;
    padding: 45px 0;
    margin: 0 auto;
}

.presentation-picture{
    width: 160px;
    height: 160px;
}

.presentation-copy{
    text-align: left;
    line-height: 1.6;
    color: black;
}

/*contacto*/
footer{
    background-color: #09aee0;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    font-weight: 40%;
    color: white;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand + p{
    font-weight: 600;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.social-media-icon:hover{
    background-color: white;
    color: #09aee0;
}

.social-media-icon i{
    font-size: 35px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    margin-bottom: 60px;
    background-color: white;
}

/*responsive*/
@media screen and (max-width: 700px){
    .nav2{
        color: white;
    }

    .icono{
        display: block;
        cursor: pointer;
    }

    .enlaces{
        position: fixed;
        top: 80px;
        background-color: #000000;
        left: 0;
        height: 100%;
        transition: 1s;
        width: 0;
        overflow: hidden;
    }

    .enlaces a{
        display: block;
        width: 100%;
        height: 50px;
        padding: 20px;
        text-align: center;
        background-color: #1d1d1d;
        color: white;
    }

    .textos > h1{
        font-size: 70px;
    }

    .textos > h2{
        font-size: 35px;
    }
}

/*responsive*/
@media screen and (max-width: 1220px){
    .header-content{
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px){
    .container-content{
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px){
    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: black;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 300px;
        height: 90px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: white;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: white;
    }

    #icon-menu{
        display: flex;
    }

    .presentation-copy{
        width: 100%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px){
    .presentation-picture{
        width: 120px;
        height: 120px;
    }


    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
   
}